{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer text-center">
          <h1 class="h2">Contact me</h1>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
             <form method="POST" class="reveal-content">
                <div class="row">
                  <div class="col-md-7">
                    <div class="form-group">
                      {% csrf_token %}
                      
                      {%for field in form%}
                      
                        {{field.name}}
                        <br>
                        {{field}}


                      {% endfor %}

                    </div>
                    <button type="submit" class="btn btn-default btn-lg">Send</button>
                  </div>
                  <div class="col-md-5 address-container">
                    <ul class="list-unstyled">
                      <li>
                        <span class="fa-icon">
                          <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>
                        {{contact.phone}}
                      </li>
                      <li>
                        <span class="fa-icon">
                          <i class="fa fa-at" aria-hidden="true"></i>
                        </span>
                        {{contact.mail}}
                      </li>
                      <li>
                        <span class="fa-icon">
                          <i class="fa fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                        {{contact.address}}
                      </li>
                    </ul>
                    <h3>Follow me on social networks</h3>
                    {% if social %}
                    <a href="{{social.facebook}}" title="" class="fa-icon">
                      <i class="fa fa-facebook"></i>
                    </a>
                    {% endif %}
                    {% if social %}
                    <a href="{{social.twitter}}" title="" class="fa-icon">
                      <i class="fa fa-twitter"></i>
                    </a>
                    {% endif %}
                    {% if social %}
                    <a href="{{social.linkedin}}" title="" class="fa-icon">
                      <i class="fa fa-linkedin"></i>
                    </a>
                    {% endif %}
                  </div>
                </div>
              </form>
          </div>
        </div>
     </div>
    </div>
  </div>
</div>

{% endblock %}